img.responsive{
	max-width: 600px;
	height: auto;
	width: 100%;
}

header, main{
	padding: 10px;
	width: 100%;
}

nav {
	padding: 10px;
	border-bottom: 1px solid #000;
	width: 100%;
}

footer{
	padding: 10px;
	border-top: 1px solid #000;
	width: 100%;
	text-align: center;
}
#player {
  margin: auto;
  border: 3px solid #333;
  padding: 10px;
}